<%= form_for(@pessoa) do |f| %>
  <% if @pessoa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pessoa.errors.count, "error") %> prohibited this pessoa from being saved:</h2>

      <ul>
      <% @pessoa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %><br>
    <%= f.label :email %><br>
    <%= f.text_field :email %><br>
    <label>Aprender</label><br>
    <% Habilidade.group(:nome).each do |hab| %>
      <label>
        <%= check_box("pessoa", "habilidades_aprender", {:multiple => true}, hab.id, nil) %>
        <%= hab.nome %>
      </label><br>
    <% end %>
    <label><h1>Ensinaaaaaaaaaaaaaaaaaaaaaar</h1></label><br>
    <% Habilidade.group(:nome).each do |hab| %>
      <label>
        <%= check_box("pessoa", "habilidades_ensinar", {:multiple => true}, hab.id, nil) %>
        <%= hab.nome %>
      </label><br>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
