<%= form_for(@pessoa) do |f| %>
  <% if @pessoa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pessoa.errors.count, "error") %> prohibited this pessoa from being saved:</h2>

      <ul>
      <% @pessoa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="logo_header"></div>

  <div class="campo">
    <div class="field">
      <strong><%= f.label :nome %></strong>
      <%= f.text_field :nome, class: 'input' %><br><br>
      <strong><%= f.label :email %></strong>
      <%= f.text_field :email, class: 'input margin-input' %>
      <label><h5>O que você quer aprender?</h5></label><br>
      <% Habilidade.group(:nome).each do |hab| %>
        <label>
          <%= check_box("pessoa", "habilidades_aprender", {:multiple => true}, hab.id, nil) %>
          <%= hab.nome %>
        </label><br>
      <% end %>
      <label><h5>O que você pode ensinar?</h5></label><br>
      <% Habilidade.group(:nome).each do |hab| %>
        <label>
          <%= check_box("pessoa", "habilidades_ensinar", {:multiple => true}, hab.id, nil) %>
          <%= hab.nome %>
        </label><br>
      <% end %>
    </div>
    <div class="actions">
      <button class="botao-salvar-perfil"> <%= f.submit 'Salvar' %> </button>
    </div>
  <% end %>
  </div>  